@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-Main;
    @apply font-poppins;
  }
}

@layer components {
  .switch {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }

  .handle {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
  }
}

.dark {
  @apply bg-black;
  @apply text-white;
}
